<!DOCTYPE HTML>
<html>
	<head>
		<title>Django Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>connect</h1>

				</div>
			</header>
			<div id="content-main">
                <article class="media content-section">
                     <div class="media-body">
            <div class="article-metadata">
              <img class= "img-fluid" src="https://images.unsplash.com/photo-1625922900686-388f9aab5471?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDM3ODN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjc5MDgyODE&ixlib=rb-1.2.1&q=80&w=1080">
            </div>
          </div>
          <div class="media-body">
            <div class="article-metadata">
              <img class= "img-fluid" src="https://images.unsplash.com/photo-1627674463978-9d0c88a2e0a4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDM3ODN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjc5MDY4NTQ&ixlib=rb-1.2.1&q=80&w=1080">
            </div>
          </div>
                     <div class="media-body">
            <div class="article-metadata">
              <img class= "img-fluid" src="https://images.unsplash.com/photo-1626125953180-4932af16ffb4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNDM3ODN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjc5MDYyMTg&ixlib=rb-1.2.1&q=80&w=1080">
            </div>
          </div>
        </article>
			</div>
			<script src="static/jquery.min.js"></script>
			<script src="static/skel.min.js"></script>
			<script src="static/util.js"></script>
			<script src="static/main.js"></script>
    <script src="static/package.json"></script>
    <script src="static/api.js"></script>
    </body>
</html>